---
import '@styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="font-bol text-4xl text-slate-600">Astro</h1>
		<p class="text-slate-500">Welcome to Astro!</p>
		<footer class="mt-8">
			<p class="text-sm text-slate-400">© 2023 Astro. All rights reserved.</p>
		</footer>
	</body>
</html>
